#####################################################################
# SAMPLE CONFIGURATION FILE FOR TESLAUSB Pi Setup
#
# Example config file for teslausb_setup. Lines with "#" are comments/ignored.
# Remove the "#" before "export" to activate a line. Be sure to rename this file
# to "teslausb_setup_variables.conf" and place it in the "boot" folder of your
# SD card.
#
######################################################################

export campercent=60

# Optional: create a third Tesla-visible drive for Tesla extras.
# campercent + soundspercent must leave room for the music partition.
# export soundspercent=15
# export CAM_LABEL=TESLADRIVE
# export SOUNDS_LABEL=TeslaExtras
# export MUSIC_LABEL=TeslaMedia

# Wi-Fi setup information for normal network access during setup.
export SSID=your_ssid
export WIFIPASS=your_pass

# Run a Pi-hosted web portal and hotspot so a phone or computer can join the Pi
# directly, browse/download clips, and upload Tesla media extras.
export PORTAL_ENABLED=true
# export PORTAL_WIFI_SSID=TeslaUSB
# export PORTAL_WIFI_PASSWORD=teslausbportal
# export PORTAL_ADDRESS=192.168.50.1
# export PORTAL_UPLOADS_ENABLED=true

# If doing a headless (i.e. automatic) setup.
export HEADLESS_SETUP=true

# Uncomment if you want to override the default hostname of "teslausb".
# export TESLAUSB_HOSTNAME=teslausb-Model3

# Uncomment and change if you want setup scripts to be pulled
# from a different repo than the "main" github.com/cimryan/teslausb.
# REPO is the GitHub owner and REPOSITORY is the repository name.
# export REPO=cimryan
# export REPOSITORY=teslausb

# Uncomment and change if you want a different branch than master.
# export BRANCH=master
